<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gaming Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="page-title">
        <h1>Gaming Blog</h1>
    </div>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a>About</a></li>
                <li><a>Contact</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('admin.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Gaming Blog. All rights reserved.</p>
    </footer>
</body>
</html>