/* BODY */
body {
    background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, rgba(71, 135, 255, 0.44) 30px), repeating-linear-gradient(rgba(115, 196, 250, 0.51), rgba(38, 90, 148, 0.6));
    background-color: rgba(71, 135, 255, 0.44);
    min-height: 100vh;
    padding-bottom: 10%;
}

header {
    position: sticky; /* Keeps the navbar at the top when scrolling */
    top: 0; /* Position it at the top */
    width: 100%; /* Ensure it spans the full width */
    z-index: 10000; /* Ensure it stays above other content */
}

/* TITLE */
.page-title {
    text-align: center;
    margin-top: 2rem;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263A94;
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}


/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    width: 98.7%;
    background-color: #263A94;
    color: white;
    text-align: center;
}


/* HEADER TITLE */
.header {
    text-align: center;
    margin-top: 50px;
}


/* INDEX */
.article {
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border: black solid;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    
}

.article-box {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}
